.rightSide_container {
  width: 70%;
  height: 100vh;
  padding: 25px;
  background-color: #FFFFFF;
  color: #3d4a50d2;
  
}

.rightSIde_heading{
  display: flex;
  justify-content: space-between;
  
}