.leftSide_container {
  width: 30%;
  height: auto;
  background-color: #325283;
  color: white;
}

.contactUs_container {
  margin: 50px 0;
}

.contactUs_container span {
  font-size: 15px;
}

.leftSIde_heading {
  display: flex;
  justify-content: space-around;
}
.list_container {
  display: inline-block;
  list-style: none;
  justify-content: space-between;
}

.list_container li span {
margin-right: 5px;
}
